<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076404411250-drh1vfd95qvuaob47u5vjutn0dcvsu6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076404411250-drh1vfd95qvuaob47u5vjutn0dcvsu6v</string>
	<key>API_KEY</key>
	<string>AIzaSyAYgpsLdMXbf809Y51OncpPx-vvR8GWkQE</string>
	<key>GCM_SENDER_ID</key>
	<string>1076404411250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fashionlens.app</string>
	<key>PROJECT_ID</key>
	<string>fashionlens-24f01</string>
	<key>STORAGE_BUCKET</key>
	<string>fashionlens-24f01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076404411250:ios:1955d83e7951d3da3adbeb</string>
</dict>
</plist>